/* linkColor = #d1c7c7*/

.GraphViewport-linkLines {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  stroke: #d1c7c7;
  stroke-width: 2px;
  fill: none;
}

.GraphViewport-linkLines .stroke-dashed {
  stroke-dasharray: 6;
}

.GraphViewport-linkLines marker#arrow {
  stroke-width: 0;
  fill: #d1c7c7;
}
