.NavDrawerContents-list {
  width: 250px;
}

.NavDrawerContents-currentUserAvatar {
  width: 36px !important;
  height: 36px !important;
}

.NavDrawerContents-currentUserName {
  padding-right: 0 !important;
}