.PropertiesDrawerContents {
  overflow-x: hidden;
  width: 250px;
}

.PropertiesDrawerContents-header {
  background-color: #616161;

  span {
    color: white;
  }
}

.PropertiesDrawerContents-closeIcon {
  width: 18px !important;
  height: 18px !important;
}

.PropertiesDrawerContents-sliderItem {
  padding-right: 0 !important;
}

.PropertiesDrawerContents-sliderContainer {
  margin-top: 8px !important;
}

.PropertiesDrawerContents-sliderValue {
  display: block;
  float: right;
}
