// hsl + some "v" adjustment
@function hslv($h, $s, $l, $v) {
  @return hsl($h, $s, $l + $v);
}

@function between($min, $max, $v) {
  @return max($min, min($max, $v));
}

$documentBackgroundColor: white;

////////////////////////////////////////////////////////////////////////////////
// LEFT DRAWER
////////////////////////////////////////////////////////////////////////////////

@function leftDrawerBackgroundColor($v: 0) {
  @return hslv(220, 20%, 20%, $v);
}

$leftDrawerBackgroundColor: leftDrawerBackgroundColor();
$leftDrawerListBackgroundColor: leftDrawerBackgroundColor(-10%);
$leftDrawerButtonColor: leftDrawerBackgroundColor(25%);
$leftDrawerButtonTextColor: white;

////////////////////////////////////////////////////////////////////////////////
// PROPERTIES DRAWER
////////////////////////////////////////////////////////////////////////////////

$propertiesDrawerBackgroundColor: white ;

////////////////////////////////////////////////////////////////////////////////
// GRAPH (nodes, links, etc)
////////////////////////////////////////////////////////////////////////////////

$nodeTextColor: white;

@function nodeBackgroundColor($deltaL: 0) {
  @return hsl(20, 80%, between(0%, 100%, 60% + $deltaL));
}

$normalNodeBackgroundColor: nodeBackgroundColor(+0%);
$lockedNodeBackgroundColor: nodeBackgroundColor(-40%);
