// hsl + some "v" adjustment
@function hslv($h, $s, $l, $v) {
  @return hsl($h, $s, $l + $v);
}

@function between($min, $max, $v) {
  @return max($min, min($max, $v));
}

$documentBackgroundColor: white;


////////////////////////////////////////////////////////////////////////////////
// MAIN COLOR PALETTE
////////////////////////////////////////////////////////////////////////////////

$primaryColor: royalblue;
$primaryTextColor: white;
$secondaryColor: #ef6c00;// #d84315;
$secondaryTextColor: white;

$selectionColor: #43a047;
$selectionTextColor: white;

////////////////////////////////////////////////////////////////////////////////
// MAIN UI
////////////////////////////////////////////////////////////////////////////////

$appBarBackgroundColor: $primaryColor;
$appBarTextColor: $primaryTextColor;


////////////////////////////////////////////////////////////////////////////////
// LEFT DRAWER
////////////////////////////////////////////////////////////////////////////////

@function leftDrawerBackgroundColor($v: 0) {
  @return hslv(220, 20%, 20%, $v);
}

$leftDrawerBackgroundColor: leftDrawerBackgroundColor();
$leftDrawerListBackgroundColor: leftDrawerBackgroundColor(-10%);
$leftDrawerButtonColor: leftDrawerBackgroundColor(25%);
$leftDrawerButtonTextColor: white;

////////////////////////////////////////////////////////////////////////////////
// PROPERTIES DRAWER
////////////////////////////////////////////////////////////////////////////////

$propertiesDrawerBackgroundColor: white ;

////////////////////////////////////////////////////////////////////////////////
// GRAPH (nodes, links, etc)
////////////////////////////////////////////////////////////////////////////////

$normalNodeBackgroundColor: $secondaryColor;
$nodeTextColor: $secondaryTextColor;

@function nodeBackgroundColor($deltaL: 0) {
  @return hsl(30, 75%, between(0%, 100%, 50% + $deltaL));
}

$linkColor: hsl(0, 10%, 80%);