@function between($min, $max, $v) {
  @return max($min, min($max, $v));
}

$documentBackgroundColor: white;


////////////////////////////////////////////////////////////////////////////////
// MAIN COLOR PALETTE
////////////////////////////////////////////////////////////////////////////////

$secondaryColor: #ef6c00;// #d84315;
$secondaryTextColor: white;

$selectionColor: #43a047;
$selectionTextColor: white;


////////////////////////////////////////////////////////////////////////////////
// GRAPH (nodes, links, etc)
////////////////////////////////////////////////////////////////////////////////

$normalNodeBackgroundColor: $secondaryColor;
$nodeTextColor: $secondaryTextColor;

@function nodeBackgroundColor($deltaL: 0) {
  @return hsl(30, 75%, between(0%, 100%, 50% + $deltaL));
}

$linkColor: hsl(0, 10%, 80%);