.App {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.App-content {
  flex: auto;
  display: flex;
}

.App-loading, .App-empty {
  background-color: white;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-loading-text {
  text-align: center;
}
