.DrawerView {
  position: absolute;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.DrawerView.isLeftDrawer {
  left: 0;
}

.DrawerView:not(.isLeftDrawer) {
  right: 0;
}

.DrawerView:not(.isLeftDrawer) {
  border-left: 1px solid black;
}

.DrawerView.isLeftDrawer {
  border-right: 1px solid black;
}

.DrawerView-expandButton {
  background-color: black;
  color: darkgray;
  text-align: center;
}

.DrawerView.collapsed .DrawerView-expandButton {
  width: 1em;
  height: 100%;
}

.DrawerView:not(.isLeftDrawer).expanded .DrawerView-expandButton {
  padding-left: 100%;
  margin-left: -1em;
}

.DrawerView.isLeftDrawer.expanded .DrawerView-expandButton {
  padding-right: 100%;
  margin-right: -1em;
}

.DrawerView-expandButton:hover {
  background-color: #222222;
  color: white;
}

.DrawerView.collapsed .DrawerView-contents {
  display: none;
}

.DrawerView-contents {
  flex: auto;
  padding: 0.5em;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
}
