.FilesDrawerView-contents {
  width: 20em;
  background-color: #444455;
  color: white;
}

.FilesDrawerView-button {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0.25em;
  text-align: center;
  font-weight: bold;
  background-color: #666677;
  color: white;
}

.FilesDrawerView-button:hover {
  background-color: #777788;
}

.FilesDrawerView-button:active {
  background-color: #555566;
}

.FilesDrawerView-filesList {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #222233;
  padding: 0.3em;
}

.FilesDrawerView-filesList a {
  display: block;
  padding: 0.2em;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.FilesDrawerView-filesList a:hover {
  background-color: #444455;
}

.FilesDrawerView-filesList a:active {
  background-color: black;
}
