@import "@material/typography/mdc-typography.scss";
@import "_all";

.NodeView {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: visible;
}

.NodeView-content {
  @include mdc-typography(body2);
  line-height: 1.1;
  font-weight: 550;

  position: absolute;
  background-color: $normalNodeBackgroundColor;
  color: $nodeTextColor;
  border: 1px solid white;
  // border-radius: 1px;
  padding: $paddingNode;
  transform: translate(-50%, -50%);
  cursor: pointer;
  user-select: none;
  text-align: center;
  // box-shadow: 1px 1px lightgray;
}

.NodeView.locked .NodeView-content {
  background-color: $lockedNodeBackgroundColor;
}

.NodeView.selected .NodeView-content {
  background-color: green;
  border: 3px solid lightgreen;
  z-index: 100;
  /* box-shadow: 0px 0px 15px 5px green; */
}