.NodeView {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: visible;
}

.NodeView-content {
  position: absolute;
  background-color: #666666;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.NodeView.locked .NodeView-content {
  background-color: black;
}

.NodeView.selected .NodeView-content {
  background-color: green;
  border: 3px solid lightgreen;
  z-index: 100;
  /* box-shadow: 0px 0px 15px 5px green; */
}