.PropertiesView {
  display: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border-left: 1px solid black;
}

.PropertiesView.expanded {
  flex-basis: 20em;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #ddddee;
}

.PropertiesView.collapsed {
  flex-basis: 1em;
  background-color: black;
}

.PropertiesView.expanded .PropertiesView-expandButton {
  display: none;
}

.PropertiesView-expandButton {
  text-align: center;
  width: 1em;
  height: 100%;
  cursor: pointer;
  color: darkgray;
}

.PropertiesView-expandButton:hover {
  background-color: #222222;
  color: white;
}

.PropertiesView.collapsed .PropertiesView-contents {
  display: none;
}
