.PropertiesView-contents {
  width: 10em;
  background-color: #444455;
}

.PropertiesView-actionButton {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0.25em;
  text-align: center;
  font-weight: bold;
  background-color: #666677;
  color: white;
}

.PropertiesView-actionButton:hover {
  background-color: #777788;
}

.PropertiesView-actionButton:active {
  background-color: #555566;
}
