@import "@material/drawer/temporary/mdc-temporary-drawer.scss";

$propertiesViewHeaderHeight: 15px;

.PropertiesView {
  @include mdc-rtl-reflexive-box(border, left, 1px solid #e4e4e4);

  background-color: white;
  flex: none;
  width: 300px;

  display: none;
  flex-direction: column;

  &.open {
    display: flex;
  }
}

.PropertiesView-header {
  @include mdc-typography(body2);

  flex: none;
  height: $propertiesViewHeaderHeight;
  line-height: $propertiesViewHeaderHeight;
  background-color: #616161;
  color: white;
  padding: 10px 12px 10px 20px;
}

.PropertiesView-header-closeButton {
  float: right;
  color: white;
  font-size: 17px;
  font-weight: bold;
  line-height: $propertiesViewHeaderHeight;
  cursor: pointer;
}
