.Simulation {
  position: relative;
  overflow: hidden;
}

.Simulation-linkLines {
  position: absolute;
  left: 0;
  top: 0;
  stroke: darkgray;
  stroke-width: 2px;
}

.Simulation-FPSView {
  position: absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  background-color: darkblue;
  opacity: 0.8;
  color: white;
  font-size: 1em;
  padding: 0.5em;
}
